@media (min-width: 0) and (max-width: 700px){
.p1_section2 .container{
    gap: 22px;
    flex-direction: column;
}
.mini_productcard{
    top: 212px;
    bottom: unset;
    left: 0;
    z-index: 2;
}
.hero_model {
    width: 700px;
    height: 529px;
    z-index: 2;
    top: 70px;
    position: relative;
    animation: scale-in 1200ms ease-in-out forwards;
    z-index: 1;
}
.hero_stats{
    top: 212px;
    bottom: unset;
    right: 12px;
    z-index: 2;
}
.hero_stats div h2{
    font-size: 52px;
    font-weight: 470;
    text-wrap: nowrap;
}
.hero_stats div h2 span{
    font-size: 36px;
}
h1 {
    font-size: 92px;
}
h3 {
    font-size: 36px;
}
.h3_2{
    font-size: 26px;
}
.blur_size1{
    width: 250px;
    height: 250px;
}
.hero_blur1{
    bottom: 0;
    left: 0;
    z-index: 2;
}
.hero_blur2{
    right: -100px;
    bottom: 50px;
    height: 400px;
    z-index: 2;
}
.hero_content{
    gap: 40px;
}
.container{
    padding: 80px 42px;
}
.products_flex{
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    max-width: 1124px;
}
.product_card{
    top: unset;
    bottom: unset;
    padding: 28px;
}
.space1 {
    height: 25px;
}
.taro_model {
    width: 303px;
    height: 281px;
}
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 24px;
}
.list2{
width: 100%;
align-items: center;
text-align: center;
}
.taro_model_bg {
    width: 579px;
    height: 591px
}
    .visitus{
    width: fit-content;
}
.heading_padding{
    padding: 0 42px;
    box-sizing: border-box;
    width: 100%;
}
.header_container{
    padding: 22px 46px;
}
header ul{
    display: none;
}
.p1_section2Flex {
    display: flex;
    min-height: 300px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    z-index: 9;
}
.offers_card{
        max-width: 45%;
}
.p1_section2Flex {
    margin-bottom: 500px;
    flex-wrap: wrap;
}
.offers_card_position2 {
    margin-top: 30px;
}
footer .list1{
    gap: 21px;
    max-width:  455px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
}

@media (min-width: 701px) and (max-width: 1041px){
.p1_section2 .container{
    gap: 22px;
    flex-direction: column;
}
.mini_productcard{
    top: 212px;
    bottom: unset;
    left: 0;
    z-index: 2;
}
.hero_model {
    width: 700px;
    height: 529px;
    z-index: 2;
    top: 70px;
    position: relative;
    animation: scale-in 1200ms ease-in-out forwards;
    z-index: 1;
}
.hero_stats{
    top: 212px;
    bottom: unset;
    right: 12px;
    z-index: 2;
}
.hero_stats div h2{
    font-size: 52px;
    font-weight: 470;
    text-wrap: nowrap;
}
.hero_stats div h2 span{
    font-size: 36px;
}
h1 {
    font-size: 92px;
}
h3 {
    font-size: 36px;
}
.h3_2{
    font-size: 26px;
}
.blur_size1{
    width: 250px;
    height: 250px;
}
.hero_blur1{
    bottom: 0;
    left: 0;
    z-index: 2;
}
.hero_blur2{
    right: -100px;
    bottom: 50px;
    height: 400px;
    z-index: 2;
}
.hero_content{
    gap: 40px;
}
.container{
    padding: 80px 42px;
}
.products_flex{
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    max-width: 1124px;
}
.product_card{
    top: unset;
    bottom: unset;
    padding: 28px;
}
.space1 {
    height: 25px;
}
.taro_model {
    width: 303px;
    height: 281px;
}
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 24px;
}
.list2{
width: 100%;
align-items: center;
text-align: center;
}
.taro_model_bg {
    width: 579px;
    height: 591px
}
    .visitus{
    width: fit-content;
}
.heading_padding{
    padding: 0 42px;
    box-sizing: border-box;
    width: 100%;
}
.header_container{
    padding: 22px 46px;
}
header ul{
    display: none;
}
.p1_section2Flex {
    display: flex;
    min-height: 300px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    z-index: 9;
}
.offers_card{
        max-width: 45%;
}
.p1_section2Flex {
    margin-bottom: 500px;
    flex-wrap: wrap;
}
.offers_card_position2 {
    margin-top: 30px;
}
footer .list1{
    gap: 21px;
    max-width:  455px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
}

/* DESKTOP */
@media (min-width: 1041px){
.p1_section2 .container{
    gap: 22px;
    flex-direction: row;
}
.p1_section2{
    padding: 40px 0 0 0;
    width: 100%;
    margin-bottom: 400px;
}
.mini_productcard{
    top: 0;
    left: 0;
    bottom: unset;
    z-index: 1;
}
.hero_model{
    width: 800px;
    height: 629px;
    z-index: 2;
    position: relative;
    top: 0;
    animation: scale-in 1200ms ease-in-out forwards;
}
.hero_stats{
    top: 212px;
    bottom: unset;
    right: 32px;
    z-index: 1;
}
.hero_stats div h2{
    font-size: 83px;
    font-weight: 470;
    text-wrap: nowrap;
}
.hero_stats div h2 span{
    font-size: 48px;
}
h1 {
    font-size: 111px;
}
h3 {
    font-size: 42px;
}

.hero_content{
    gap: 0;
}
.blur_size1{
    width: 550px;
    height: 550px;
}
.hero_blur1{
    bottom: 0;
    left: 0;
    z-index: 2;
}
.hero_blur2{
    right: -400px;
    bottom: 200px;
    height: 600px;
    z-index: 2;
}
.container{
    padding: 120px 72px;
}
.products_flex{
    display: flex;
    gap: 40px;
    overflow: visible;
    max-width: 1124px;
}
.product_card{
    top: unset;
    bottom: unset;
    padding: 34px;
}
.space1 {
    height: 60px;
}
.taro_model{
    width: 320px;
    height: 320px;
}
.taro_model_bg{
    width: 610px;
    height: 623px;
}
.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 24px;
}
.list2{
width: 170px;
align-items: flex-start;
text-align: left;
}
.visitus{
    width: 385px;
}
.heading_padding{
    padding: 0 32px;
    box-sizing: border-box;
    width: 100%;
}
.header_container{
    padding: 22px 92px;
}
header ul{
    display: flex;
}
.p1_section2Flex {
    margin: unset;
}
.offers_card{
        max-width: unset;
}
.offers_card_position2 {
    margin-top: 60px;
}
footer .list1{
    gap: 21px;
    max-width:  455px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
}
}