@media (min-width: 550px ){
    
}
@media (min-width: 551px) and (max-width: 1041px){
.p1_section2 .container{
    gap: 22px;
    flex-direction: column;
}
}
@media (min-width: 1041px){
.p1_section2 .container{
    gap: 22px;
    flex-direction: row;
}
.p1_section2{
    padding: 40px 0 0 0;
    width: 100%;
    margin-bottom: 400px;
}
}