:root{
    --mainaccent: hsla(106, 86%, 14%, 1);
    --mainaccent2: #1C6506;
    --secondaryaccent:hsla(106, 63%, 34%, 1);
    --accentbg:#2B4922;;
    --extremewhite:hsla(38, 44%, 96%, 1);
    --offwhite: hsla(90, 13%, 85%, 1);
    --greenishgrey: hsla(94, 14%, 46%, 1);
    --grey:hsla(0, 0%, 60%, 1);
    --secondarybg: hsla(93, 18%, 90%, 1);
    --blur1color:#9ABE90;
    --footer: #C4D7BF
}
@font-face {
    font-family: "The Year of The Camel";
    src: url('public/fonts/alfont_com_TheYearofTheCamel-Regular.otf');
}
.arabic_font{
    font-family: "The Year of The Camel";
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainaccent);
    font-family: Alegreya Sans;
}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color:#d9ded499;
    backdrop-filter: blur(30px);
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 999;
}
.header_container .button2{
    justify-self: flex-end;
}
.header_container{
    display: flex;
    padding: 22px 92px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1840px;
}
body{
    background: var(--offwhite);
    overflow-x: hidden;
}
.blurred_separator{
    width: 100vw;
    height: 300px;
    position: absolute;
    display: flex;
    z-index: 2;
}
.blurred_separator span{
    width: 100%;
    filter: blur(28px);
    left: 0;
    position: relative;
}
.blur_size1{
    width: 550px;
    height: 550px;
    position: absolute;
    filter: blur(80px);
    opacity: 0.5;
}
nav{
    width: 100%;
    width: 356px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
nav ul li{
    font-size: 24px;
    font-weight: 500;
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
nav ul li a{
    transition: all 200ms ease;
}
.activelink:hover {
    color: var(--mainaccent);
    filter: drop-shadow(2px 4px 10px var(--secondaryaccent));
}
.logo1{
    width: 136px;
    height: 43px;
}
.hero{
    width: 100%;
    height: calc(100vh - 200px);
}
h6{
    font-size: 16px;
}
h5{
    font-size: 20px;
}
h4{
    font-size: 24px;
}
.h4_2{
    font-size: 20px;
}
h3{
    font-size: 42px;
}
.h3_2{
    font-size: 32px;
}
h2{
    font-size: 62px;
}
h1{
    color: var(--mainaccent2);
    text-align: center;
    font-family: "The Year of The Camel";
    font-size: 111px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.text_light{
    font-weight: 300;
}
.text_regular{
    font-weight: 400;
}
.text_semibold{
    font-weight: 500;
}
.text_bold{
    font-weight: 700;
}
.text_white{
    color: var(--extremewhite, #FAF7F2);
}
.text_extraBold{
    font-weight: 800;
}
.text_black{
    font-weight: 800;
}
.text_uppercase{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
.button2{
    display: flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    background: var(--mainaccent, #134205);
    border-radius: 24px;
    color: var(--offwhite, #D9DED4);
    font-size: 20px;
    font-weight: 500;
    text-wrap: nowrap;
    transition: all 200ms ease-in-out;
}
.inactive{
    opacity: 0.5;
}
.button2:hover{
    background-color: var(--extremewhite);
    color: var(--mainaccent);
    padding: 12px 32px;
    border: 1px solid var(--mainaccent);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.40);
}
.container{
    display: flex;
    width: 100%;
    padding: 120px 72px;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1840px;
    margin: 0 auto;
    box-sizing: border-box;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.hero_content{
    display: flex;
    flex-direction: column;
    background: url(public/images/mainherobg.jpg);
    border-radius: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 51px 0 0 0;
    background-size: cover;
    position: relative;
}
.hero_content h3{
 color: var(--mainaccent2);
}
.hero_content h3 b{
 color: var(--mainaccent2);
}
model-viewer {
    margin: 0 auto;
    overflow: visible;
    transition-duration: 1000ms;
}
model-viewer::part(default-progress-bar) {
    display: none;
}
.hero_model{
    width: 800px;
    height: 629px;
    z-index: 2;
    position: relative;
    animation: scale-in 1200ms ease-in-out forwards;
}
.hero_separator{
    bottom: 0;
    z-index: 2;
}
.hero_separator span{
    background-color: var(--blur1color);
}
@keyframes scale-in {
    from{
        opacity: 0;
        transform: scale(0.5);
        filter: blur(12px);
        top: 50px;
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
        top: -70px;
    }
}
.focus_in{
    opacity: 0;
     animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes focus-in {
  0% {
            filter: blur(12px);
    opacity: 0;
  }
  100% {
            filter: blur(0px);
    opacity: 1;
  }
}
.move_focus{
    position: relative;
    transform: translateY(100px);
    animation: move-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes move-focus-in{
  0% {
    transform: translateY(100px);
    filter: blur(12px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
            filter: blur(0px);
    opacity: 1;
  }
}
.blur_in{
    opacity: 0;
     animation: blur-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes blur-in {
  0% {
            filter: blur(20px);
    opacity: 0;
  }
  100% {
            filter: blur(80px);
    opacity: 1;
  }
}
.greenBg {
    background: var(--mainaccent2);
    opacity: 0.5;
}
.offers_card_position2{
    margin-top: 60px;
}
.mint_greenBg{
    background: var(--secondaryaccent);
}
.hero_blur1{
    bottom: 0;
    left: 0;
    z-index: 2;
}
.hero_blur2{
    right: -400px;
    bottom: 200px;
    height: 600px;
    z-index: 2;
}
.mini_productcard{
    width: 221px;
    flex-shrink: 0;
    padding: 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 24px 0;
    background:var(--extremewhite);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.hero_heading{
    z-index: 3;
    padding: 12px;
}
.hero_content h4{
    color: var(--mainaccent2);
}
.mini_product_viewer{
    width:100%;
    height: 124px;
    padding: 12px;
    box-sizing: border-box;
    background: linear-gradient(260deg, rgba(255, 255, 255, 0.57) 31%, rgba(196, 215, 191, 0.57) 88%);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(57, 139, 32, 0.122);
}
.mini_productcard h5{
    text-align: left;
    margin-bottom: 4px;
}
button .icon1, button:hover .icon2{
    display: block;
}
button:hover .icon1, button .icon2{
    display: none;
}
.button_container1{
    width: 58px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.button2 .arrow{
    width: 18px;
    height: 18px;
}
.text_buttonFlex{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.button3{
    padding: 6px 16px;
}
.button3:hover{
    padding: 6px 20px;
}
.main_buttoncontainer{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}
.main_button{
    display: flex;
    height: 68px;
    box-sizing: border-box;
    padding: 0 10px 0 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    bottom: 100px;
    font-size: 20px;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.40);
    border-radius: 100px;
    color: var(--extremewhite);
    width: fit-content;
}
.main_button:hover {
    padding: 0 10px 0 32px;
    gap: 30px;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.40);
}
.main_button:hover div img {
    transform: rotate(-35deg);
}
.main_button div{
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--extremewhite, #FAF7F2);
    border-radius: 100px;
}
.main_button img{
    width: 28px;
    height: auto;
    transition: all 200ms ease-in-out;
}
.scroll_animate2{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 35%;
}
.scroll_animate{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 15%;
}
.hero_stats{
    display: flex;
    width: 251px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    height: 157px;
    position: absolute;
    right: 32px;
    min-height: 350px;
    z-index: 1;
    top: 212px;
    bottom: unset;
}
.hero_stats div{
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--extremewhite);
    backdrop-filter: blur(45px);
}
.hero_stats div h2{
    font-size: 83px;
    font-weight: 470;
    text-wrap: nowrap;
}
.hero_stats div h2 span{
    font-size: 48px;
}
.sticky{
    position: sticky;
    top: 0;
    min-height: 100vh;
}
.p1_section2{
    background-image: url(public/images/p1sec2bg.jpg);
    background-position: center;
    position: sticky;
    padding: 40px 0 0 0;
    width: 100%;
    margin-bottom: 400px;
    background-size: cover;
    box-sizing: border-box;
}
.p1_section2 .container{
    gap: 22px;
    flex-direction: row;
}
.p1_section3{
    position: sticky;
    z-index: 4;
}
.p1_section2Flex{
    display: flex;
    max-height: 300px; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    z-index: 9;
}
.offers_card{
    display: flex;
    width: 100%;
    padding: 33px 22px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    box-shadow: -3px 8px 14.6px 0 rgba(235, 240, 235, 0.20);
    backdrop-filter: blur(3px);
    border: 0.5px solid #ffffff00;
    border-radius: 12px;
    height: auto;
    transition: all 200ms ease-in-out;
}
.offers_card .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.offers_card .title img{
    width: 48px;
    height: auto;
    overflow: visible;
    object-fit: none;
}
.offwhite_bg{
    background: var(--offwhite);
}
.white_bg{
    background: var(--extremewhite);
}
.separator_top{
    z-index: 2;
    top: -30px;
}
.separator_bottom{
    z-index: 2;
    bottom: -30px;
}
.blurred_separator2{
    height: 60px;
    filter: blur(12px);
}
.p1_hero{
    position: sticky;
    min-height: 100vh;
}
.mintgreen_bg{
    background: var(--blur1color)
}
.learn_more{
    display: flex;
    background:none;
    gap: 10px;
    margin-top: 10px;
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    height: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
    white-space: nowrap;
    width: 100%;
}
.learn_more:hover{
    gap: 4px;
}
.learn_more img{
    width: 20px;
    height: 20px;
}
.offers_card:hover .learn_more{
    height: 30px;
    opacity: 1;
}
.offers_card:hover{
    border: 0.5px solid var(--extremewhite);
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    box-shadow: -3px 8px 20px 0 rgba(235, 240, 235, 0.50);
}
.heading_text_block{
    gap: 0;
    margin-bottom: 32px;
}
.text_alignleft{
    text-align: left;
}
.text_aligncenter{
    text-align: center;
}
.trustees_logosWrap{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    min-width: 276px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 22px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.trustees_logo_container{
    display: flex;
    width: 100%;
    height: 180px;
    max-width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--extremewhite);
    border-radius: 22px;
}
.trustees_logo_container img{
    width: 105px;
    height: auto;
}
.leaf_container{
    position: absolute;
    top: -30px;
    right: -150px;
    transform: rotate(42deg);
    transition: all 200ms ease-in;
    animation: rotate-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    z-index: 2;
}
.p1_leaf1{
    width: 716px;
    height: 716px;
}
.leaf1Parent{
    position: sticky;
    z-index: 4;
    min-height: 100vh;
    justify-content: flex-start;
    margin-bottom: 100px;
}
.leaf1Parent:hover .leaf_container{
    right: -100px;
    top: -10px;
    overflow: visible;
}
.leaf1Parent .flex_column{
    width: 60%;
    align-self: flex-start;
}
.leaf1Parent .flex_column .main_buttoncontainer{
    height: fit-content;
}
.button_container2{
    align-self: flex-end;
    width: fit-content;
    margin: 22px 0;
}
.p1_section5{
    z-index: 5;
}
.heading_padding{
    padding: 0;
    align-self: center;
    box-sizing: border-box;
    width: 100%;
}
.mini_title{
    margin-top: 20px;
}
.filters_flex1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}
.filter_tag1{
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 138px;
    box-sizing: border-box;
    color: var(--mainaccent, #134205);
    background: var(--extremewhite, #FAF7F2);
    border-radius: 43px;
    font-size: 20px;
    font-weight: 500;
    transition: all 200ms ease-in-out;

}
.filter_tag1 img{
    height: 36px;
    width: auto;
    transition: all 200ms ease-in-out;
}
.filter_tag1:hover {
    background: var(--mainaccent);
    color: var(--extremewhite);
}
.filter_tag1:hover img{
    transform: rotate(180deg);
}
.products_flex{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1124px;
    z-index: 3;
    justify-content: center;
}
.space1{
    width: 100%;
    height: 60px;
}
.product_card{
    position: relative;
    display: flex;
    min-width: 348px;
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    border-radius: 36px;
    transition: all 200ms ease-in-out;
    top: unset;
    bottom: unset;
}
.button5{
    padding: 8px 26px;
}
.button5 img{
    width: 28px;
    height: auto;
}
.button5:hover{
    padding: 8px 30px;
}
.product_card .mini_product_viewer{
    padding: 0;
    width: 100%;
    height: 148px;
    position: relative;
}
.rating_flex{
    display: flex;
    align-items: center;
    margin: 6x 0 0 0;
}
.rating_flex img{
    height: 28px;
    width: auto;
}
.rating_flex h6{
    color: var(--grey, #999);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
}
.button_container3{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4px;
}
.tag3d{
    position: absolute;
    right: 44px;
    height: 32px;
    width: 32px;
    background-image: url(public/images/3dbadge.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 44px;
    z-index: 3;
    transition: all 200ms ease-in;
}
.product_card:hover{
    box-shadow: 0 4px 20px 0 rgba(57, 139, 32, 0.20);
}
.product_card:hover .tag3d{
    background-image: url(public/images/3dicon2.svg);
    scale: 0.8;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:var(--extremewhite);
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainaccent); 
  border-radius: 12px;
}
.taro_model{
    width: 320px;
    height: 320px;
}
.taro_model_bg{
    width: 610px;
    height: 623px;
    background-image: url(public/images/leafbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.difference_content{
    display: flex;
    width: 296px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    position: absolute;
}
.difference_right{
    display: flex;
    right: -80px;
    top: 100px;
    height: 133px;
}
.difference_moved1{
    top: 40px;
    position: relative;
    right: -80px;
}
.difference_left{
    display: flex;
    left: -80px;
    top: 90px;
    height: 133px;
}
.difference_left .difference_moved1{
    right: 10px;
    top: 100px;
}
.p1_section6{
    z-index: 7;
}
.p1_final{
    background: linear-gradient(180deg, #D9DED4 0%, #E8EBE6 50%, #C4D7BF 100%);
    flex-direction: row;
    z-index: 7;
}
.p1_final .container{
    gap: 80px;
    flex-direction: row;
}
.ar_phoneBg{
    width: 100%;
    max-width: 408px;
    height: 600px;
    background-image: url(public/images/ARPhone.jpg);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.ar_phoneBg model-viewer{
   background: none;
   height: 400px;
   position: relative;
   top: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    background: var(--footer);
    position: sticky;
    min-height: calc(100vh - 100px);
    z-index: 10;
    
}
footer .container{
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 24px;
}
.footer_container .logo{
    width: 136px;
    height: 64px;
}
footer .list1{
    gap: 21px;
    max-width:  455px;
    text-align: left;
}
.credits{
    display: flex;
    height: 52px;
    padding-right: 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 0.727px solid rgba(19, 66, 5, 0.20);

margin-top: 61px;
}
.credits h6{
    font-size: 14px;
font-weight: 400;
}
.list2{
width: 170px;
flex-direction: column;
align-items: flex-start;
text-align: left;
gap: 12px;
flex-shrink: 0;
}
.list2 h5{
    margin-bottom: 8px;
}
.list3{
    gap: 41px;
}
.visitus{
    font-size: 81px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.207px; /* 59.515% */
    letter-spacing: -4.591px;
    display: flex;
    width: 385px;
    align-items: center;
    gap: 22px;
    text-transform: uppercase;
    white-space: nowrap;
}
.visitus img{
    height: 64px;
    width: auto;
}
.socials_flex{
    display: flex;
    gap: 16px;
}
.icon_size1{
    width: 44px;
    height: 44px;
    background: var(--mainaccent, #134205);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.about_heromodel{
    width: 532px;
    height: 534px;
    top: -40px;
    position: relative;
}
.carousel h4, .carousel2 h4{
        font-weight: 500;
        white-space: nowrap;
        text-transform: uppercase;
    }
.carousel_imgsize1{
    width: 99px;
height: 59px;
object-fit: cover;
    border-radius: 12px;
}
.carousel_imgsize2{
    width: 180px;
height: 59px;
object-fit: cover;
    border-radius: 12px;
}
.carousel_icon{
    object-fit: contain;
    width: 42px;
    height: 42px;
}
.carousel-wrapper, .carousel-wrapper2  {
    overflow: hidden;
    position: relative;
}
.carousel, .carousel2 {
    display: flex;
    padding: 24px 0;
    align-items: center;
    gap: 22px;
    border-top: 1px solid rgba(19, 66, 5, 0.30);
    border-bottom: 1px solid rgba(19, 66, 5, 0.30);
    /* background-color: var(--secondarybg); */
    width: fit-content;
}

.about_blur{
    filter: blur(20px);
    height: 250px;
    bottom: 50px;
    background: linear-gradient(180deg, #99BF8C 20%, #D9DED4 121.75%);

}
.p2_hero{
    height: calc(100vh + 400px);
}
.p2_hero .hero_content{
    gap: 0;
}
.p2_timeline{
    background-image:url(public/images/backgoundimg01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.timeline_logoflex{
    display: flex;
    align-items: flex-start;
    gap: 22px;
    width:588px ;
}
.timeline_logoflex .logo{
    width: 50%
}
.timeline_logoflex .img{
    width: 50%;
    max-height: 313px;
    border-radius: 212px  22px  221px 0;
}
.timeline_flex{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    height: fit-content;
}
.timeline_flex .left{
    align-items: flex-start;
    height: 100%;
    padding-top: 266px;
    gap: 222px;
    align-self: stretch;
}
.timeline_flex .right{
    display: flex;
    padding: 92px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 200px;
    align-self: stretch;
}
.timeline_div{
    width: 42px;
    align-self: stretch;
    background: var(--mainaccent);
    border-radius: 22px;
    transform-origin: top;
    overflow: hidden;
}
.timeline_cardContainer{
    position: relative;
}
.timeline_card{
    gap: 30px;
    display: flex;
    padding: 42px;
    flex-direction: column;
    border-radius: 22px;
    border: 0.821px solid #FFF;
    background: rgba(228, 245, 223, 0.29);
    box-shadow: 0 2px 50px 0 rgba(57, 139, 32, 0.354);
    backdrop-filter: blur(7px);
    max-width: 362px;
    box-sizing: border-box;
}
.timeline_blur{
    border-radius: 343.5px;
    opacity: 0.5;
    background: var(--offwhite, #D9DED4);
    filter: blur(50px);
    width: 110%;
    height: 110%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
}
.timeline_card h2{
    color: #134205;
    text-shadow: 0 2px 54.5px rgba(57, 139, 32, 0.27), -1px -3px 0 #FFF;
    font-family: Sansita;
    font-style: normal;
    font-weight: 900;
}
.carousel-wrapper .blurred_separator,
.carousel-wrapper2 .blurred_separator{
    width: 10%;
    height: 112%;
    left: -2%;
    top: -6%;
}
.carousel-wrapper .blurred_separator2,
.carousel-wrapper2 .blurred_separator2
{
    width: 10%;
    height: 112%;
    left: -2%;
    top: -6%;
    background: #d9ded4;
}
.carousel-wrapper .blurred_separator3,
.carousel-wrapper2 .blurred_separator3{
    width: 10%;
    height: 112%;
    left: unset;
    top: -6%;
    right: -2%;
}
.scroll_animate3{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 50%;
}
.timeline_cardHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.timeline_cardHeading model-viewer{
    width: 100px;
height: 100px;
}
.p2_mission{
    gap: 50px;
}
.p2_missionHeading{
    display: flex;
    gap: 0;
    position: relative;
}
.p2_missionHeading .arabic_font{
    position: absolute;
    right: -80px;
    top: 0;
}
.p2_missionFlex{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 21px;
    align-self: stretch;
    flex-wrap: wrap;
    z-index: 3;
}
.scroll_animate4{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 20%;
    animation-range: cover 20% cover 55%;
}
.missionCard{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 33px 22px;
box-sizing: border-box;
gap: 24px;
flex: 1 0 0;
border-radius: 22px;
background: var(--secondarybg);
box-shadow: -3px 8px 14.6px 0 rgba(235, 240, 235, 0.20);
backdrop-filter: blur(22px);
    height: -webkit-fill-available;
}
.missionCard img{
    width: 42px;
    height: 42px;
}
.p2_mission1{
    min-width: calc(50% - 21px);
}
.missionimg{
    width: calc(50% - 21px);
    object-fit: cover;
    border-radius: 22px;
    height: -webkit-fill-available;
    flex: 1 0 0;
}
.p2_mission2{
    min-width: calc(33% - 21px);
    width: calc(33% - 21px);
}
.p2_mission3{
    min-width: calc(33% - 21px);
    width: calc(33% - 21px);
}
.missionCard p{
    min-height: 88px;
}
.mission_modelcontainer{
    background: url(public/images/backgoundimg12.jpg);
    height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    min-width: calc(30% - 21px);
    width: calc(50% - 21px);
}
.mission_modelcontainer model-viewer{
    background: transparent;
    height: 90%;
    z-index: 2;
    
}
.blur_size3{
    position: absolute;
    z-index: 1;
    background: var(--extremewhite);
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    height: 168px;
    width: 168px;
    filter: blur(18px);
    border-radius: 50%;
    opacity: 0.8;
}
.testimonials{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
background: var(--accentbg);
border-radius: 36px;
position: relative;
width: 100%;
box-sizing: border-box;
}
.testimonials_content{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 42px 92px;
    box-sizing: border-box;
}
.testimonials_content p{
    font-style: italic;
    position: relative;
    padding: 0 12px;
}
.testimonials_content p img{
    width: 42px;
height: 30px;
display: inline-block;
position: absolute;
}
.testimonials_content p .img1{
    left: -32px;
    top: -22px;
}
.testimonials_content p .img2{
    right:-32px;
    bottom: -22px;
    
}
.testimonials_person{
    height: 100%;
    object-fit: cover;
    width: auto;
    max-width: 40%;
    border-radius: 36px;
    z-index: 2;
}
.testimonials .heading2{
    margin-bottom: 12px;
}
.testimonials h4{
    margin-bottom: 8px;
}
.testimonials_stars{
    display: flex;
    gap: 4px;
    margin-top: 20px;
}
.testimonials_stars img{
    width: 48px;
}
.testimonials .blur_size3{
    width: 400px;
height: 400px;
opacity: 0.2;
right: 20%;
top: 0;
left: unset;
filter: blur(100px);
}
.p2_form{
    display: flex;
    width: 25%;
    padding: 100x 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.form_content{
    display: flex;
    padding-bottom: 23px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
/* PRODUCTS PAGE START */
.p3_hero{
z-index: 3;
}
.p3_hero .hero_content{
    padding: 80px 40px;
    background: var(--secondarybg);
    justify-content: space-between;
align-items: flex-start;
flex-direction: row;
gap: 62px;
}
.p3_mainmodel{
    width: 391.928px;
height: 400px;
}
.Hotspot{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
background: none;
}
.HotspotAnnotation{
background: rgb(248, 248, 248);
border-radius: 4px;
padding: 6px 10px;
}
.hotspoticon{
    width:26px;
    height: 26px;
    border-radius: 50%;
    border: 1px dashed var(--extremewhite);
    background: var(--accentbg);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-0.75px 0 5.625px #FFF);
    animation: rotate 7s linear infinite;
    
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
    }
}
.hotspoticon span{
    background-color: var(--extremewhite);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation: flickerPulse 1s linear infinite;
}
@keyframes flickerPulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.p3_herotext{
    width: calc(60% - 22px);
    gap: 22px;
}
.p3_herotext h4, .p3_herotext h5{
    color: var(--secondaryaccent);
}
.p3_smartshoppingheader{
    background: linear-gradient(180deg, var(--offwhite) 0%, rgba(197, 215, 190, 0.324) 100%), url(public/images/backgoundimg13.png) var(--offwhite) -16px -54.071px / 101.256% 117.193% no-repeat;
    background-position: bottom;
    background-size: 120%;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.smartshop_headcontainer1 {
    width: 387px;
    height: 141px;
    overflow: visible;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    z-index: 6;
}
.phonebg2{
    background-position: center;
    background-size: cover;
    height: 545px;
    width: 437px;
    background-image: url(public/images/phone\ 2.png);
    margin: 0 auto;
}
.filters2{
    display: flex;
    height: 169px;
    width: 158px;
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    box-sizing: border-box;
    gap: 6px;
    color: var(--mainaccent, #134205);
    border-radius: 21px;
    background-color: #13420500;
    border: 1px solid rgba(19, 66, 5, 0.30);
    transition: all 200ms ease-in-out;
}
.filter2Selected{
    background: var(--mainaccent, #134205);
}
.filter2Selected h5{
    color: var(--offwhite, #D9DED4);
    font-weight: 400;
    transition: all 200ms ease-in-out;
}
.filters2 model-viewer{
    width: 100%;
    background: transparent;
    box-shadow: none;
}
.filters2 div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    transition: all 200ms ease-in-out;
}
.filters2 div span{
    display: block;
    height: 71px;
    width: 71px;
    border-radius: 50%;
    background:var(--mainaccent2);
    opacity: 0.7;
    filter: blur(18px);
    position: relative;
    top: 21%;

    transition: all 200ms ease-in;
}
.filters2:hover {
    /* border: 1px solid rgb(19, 66, 5); */
    box-shadow: 0 4px 10px 0 rgba(57, 139, 32, 0.10);
}
.filters2:hover h5 {
    font-weight: 500;
}
.filters2:hover div span{
    opacity: 0.9;
    filter: blur(22px);
}
.filters_flex2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.allfilters{
    margin-top: 22px;
}
.pagevication_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    padding: 0 0 40px 0;
}
.page_icon{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: 0.6px solid var(--mainaccent, #134205);
}
.page_active{
    color: var(--extremewhite);
    background: var(--accentbg);
}
.searchbar{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    /* border: 1px solid var(--accentbg); */
    background: rgba(19, 66, 5, 0.10);
    margin-top: 16px;
    margin-bottom: 40px;
}
.searchbar input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  color: var(--accentbg)
}
.searchbar h5{
    opacity: 0.6;
}
.searchbar img{
    width: 32px;
    outline: none;
}
.products_flex2{
    align-items: flex-start;
    justify-content: flex-start;
}
.moved_heading{
    margin-bottom: 22px;
    box-sizing: border-box;
}
/* PRODUCT DETAILS START */
.prod_hero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    background: none;
    z-index: 2;
}
.prod_heromodelContainer{
       width: calc(60% - 32px);
    border-radius: 22px;
    background: url(public/images/mainherobg.jpg);
    height: -webkit-fill-available;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 50vh;
    max-height: 600px;
}
.prod_heromodelContainer model-viewer{
    width: 100%;
    height: 80%;
    min-height: 239px;
}
.prod_heromodelContainer:hover .tag3d{
    background-image: url(public/images/3dicon2.svg);
    scale: 0.8;
}

.prod_hero .p3_herotext{
    width: calc(40% - 32px);
}
.h3_heading{
    margin-bottom: 12px;
}
.rating_flex2{
    margin: 8px 0 12px 0;
}
.rating_flex2 img{
    height: 36px;
    width: auto;
}
.buttonsflex{
    gap: 10px;
    position: absolute;
    top: 12px;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    z-index: 2;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.button1{
    display: flex;
    align-items: center;
    border: 1px solid var(--mainaccent);
    color: var(--mainaccent);
    background-color: var(--extremewhite);
    border-radius: 24px;
    transition: all 200ms ease-in;
    gap: 12px;
    box-sizing: border-box;
    justify-content: center;
    padding: 6px 22px; 
}
.prod_heromodelContainer:hover .buttonsflex{
    opacity: 1;
}
.blur_size4{
    width: 250px;
    height: 250px;
    position: absolute;
    filter: blur(80px);
    opacity: 0.5;
    left: 0;
    top: 0;
}
.button1 div{
    scale: -1;
     display: flex;
    width: 32px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 100px;
    background: var(--extremewhite);
    border-radius: 100px;
}
.button1 .arrow2{
    scale: 1;
    width: 28px;
}
.buttonsflex .button1{
    width: 100px;
    box-sizing: border-box;
    padding: 8px 22px;
}
.button1:hover{
background-color: var(--mainaccent);
}
.buttonsflex .button1:hover{
   padding: 8px 22px;
}
.similar_products{
     max-width: 100%;
     position: relative;
     top: -180px;
     z-index: 1;
}
.similar_products .container .product_card{
    background-color: var(--offwhite);
}
.similar_products .blurred_separator {
    height: 76px;
    top: -58px;
    filter: blur(8px);
}
.similar_products .blurred_separator2{
    height: 50px;
    top: unset;
    bottom: -30px;
    filter: blur(8px);
}
.similar_products .moved_heading{
    font-size: 32px;
    align-self: flex-start;
    position: relative;
    left: 12px;
}
.similar_products .products_flex{
    width: 100%;
}
.similar_products .blur_size4{
    right: 30px;
    top: 70px;
    left: unset;
    
}
.similar_products .blur_sim{
    left: 30px;
    right: unset;
    top: unset;
    bottom: 80px;
    left: unset;
    z-index: 1;
}
.similar_products .container{
    padding-right: 0;
}
.prod_detailss2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    align-self: stretch;
    flex-direction: row;
}
.video_container{
    width: calc(45% - 22px);
    height: 867px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
}
video{
    border: none;
    outline: none;
    background: var(--offwhite);
    height: 100%;
    width: auto;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}
video:focus,
video:hover,
video:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
video::-webkit-media-controls-panel {
    background: transparent;
}
video::-webkit-media-controls-enclosure {
    border: none;
    outline: none;
}

.prod_soilTeirs{
    gap: 0;
    width: 30%;
    max-width: 346px;
}
.soilTeir{
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 29px;
}
.soilTeir  h1{
    color: #738665;
    text-shadow: 4px 4px 0 #134205;
    font-family: 'Sansita';
    font-size: 110px;
    font-weight: 900;
}
.prod_faq{
    background: var(--accentbg);
}