:root{
    --mainaccent: hsla(106, 86%, 14%, 1);
    --mainaccent2: #1C6506;
    --secondaryaccent:hsla(106, 63%, 34%, 1);
    --extremewhite:hsla(38, 44%, 96%, 1);
    --offwhite: hsla(90, 13%, 85%, 1);
    --greenishgrey: hsla(94, 14%, 46%, 1);
    --grey:hsla(0, 0%, 60%, 1);
    --secondarybg: hsla(93, 18%, 90%, 1);
    --blur1color:#9ABE90;
}
@font-face {
    font-family: "The Year of The Camel";
    src: url('public/fonts/alfont_com_TheYearofTheCamel-Regular.otf');
}
.arabic_font{
    font-family: "The Year of The Camel";
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainaccent);
    font-family: Alegreya Sans;
}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    position: fixed;
    margin: 0 auto;
    z-index: 999;
}
.header_container{
    display: flex;
    padding: 22px 92px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1840px;
}
body{
    background: var(--offwhite);
    overflow-x: hidden;
}
.blurred_separator{
    width: 100vw;
    height: 300px;
    position: absolute;
    display: flex;
    z-index: 2;
}
.blurred_separator span{
    width: 100%;
    filter: blur(28px);
    left: -5%;
}
.blur_size1{
    width: 550px;
    height: 550px;
    position: absolute;
    filter: blur(80px);
    opacity: 0.5;
}
nav{
    width: 100%;
    width: 356px;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    list-style: none;
}
nav ul li{
    font-size: 24px;
    font-weight: 500;
    height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
nav ul li a{
    transition: all 200ms ease;
}
.activelink:hover {
    color: var(--mainaccent2);
    filter: drop-shadow(2px 4px 20px var(--mainaccent2));
}
.logo1{
    width: 136px;
    height: 43px;
}
.hero{
    width: 100%;
    height: calc(100vh - 200px);
}
h6{
    font-size: 16px;
}
h5{
    font-size: 20px;
}
h4{
    font-size: 24px;
}
.h4_2{
    font-size: 20px;
    
}
h3{
    font-size: 42px;
}
.h3_2{
    font-size: 32px;
}
h2{
    font-size: 62px;
}
h1{
    color: var(--mainaccent2);
    text-align: center;
    font-family: "The Year of The Camel";
    font-size: 111px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.text_light{
    font-weight: 300;
}
.text_regular{
    font-weight: 400;
}
.text_semibold{
    font-weight: 500;
}
.text_bold{
    font-weight: 700;
}
.text_extraBold{
    font-weight: 800;
}
.text_black{
    font-weight: 800;
}
.text_uppercase{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
.button2{
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    background: var(--mainaccent, #134205);
    border-radius: 24px;
    color: var(--offwhite, #D9DED4);
    font-size: 20px;
    font-weight: 500;
    text-wrap: nowrap;
    transition: all 200ms ease-in-out;
}
.inactive{
    opacity: 0.5;
}
.button2:hover{
    background-color: var(--extremewhite);
    color: var(--mainaccent);
    padding: 12px 32px;
    border: 1px solid var(--mainaccent);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.40);
}
.container{
    display: flex;
    width: 100%;
    padding: 120px 72px;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1840px;
    margin: 0 auto;
    box-sizing: border-box;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.hero_content{
    display: flex;
    flex-direction: column;
    background: url(public/images/mainherobg.jpg);
    border-radius: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 51px 0 0 0;
    background-size: cover;
    position: relative;
}
.hero_content h3{
 color: var(--mainaccent2);
}
model-viewer {
    margin: 0 auto;
    overflow: visible;
    transition-duration: 1000ms;
}
model-viewer::part(default-progress-bar) {
    display: none;
}
.hero_model{
    width: 800px;
    height: 629px;
    z-index: 2;
    position: relative;
    animation: scale-in 1200ms ease-in-out forwards;
}

.hero_separator{
    bottom: 0;
    z-index: 2;
}
.hero_separator span{
    background-color: var(--blur1color);
}
@keyframes scale-in {
    from{
        opacity: 0;
        transform: scale(0.5);
        filter: blur(12px);
        top: 50px;
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
        top: -70px;
    }
}
.focus_in{
    opacity: 0;
     animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes focus-in {
  0% {
            filter: blur(12px);
    opacity: 0;
  }
  100% {
            filter: blur(0px);
    opacity: 1;
  }
}
.move_focus{
    position: relative;
    transform: translateY(100px);
    animation: move-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes move-focus-in {
  0% {
    transform: translateY(100px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
            filter: blur(0px);
    opacity: 1;
  }
}
.greenBg {
    background: var(--mainaccent2);
    opacity: 0.5;
}
.offers_card_position2{
    margin-top: 60px;
}
.mint_greenBg{
    background: var(--secondaryaccent);
}
.hero_blur1{
    bottom: 0;
    left: 0;
    z-index: 2;
}
.hero_blur2{
    right: -400px;
    bottom: 200px;
    height: 600px;
    z-index: 2;
}
.mini_productcard{
    width: 221px;
    flex-shrink: 0;
    padding: 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 24px 0;
    background: rgba(250, 247, 242, 0.64);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.hero_content h4{
    color: var(--mainaccent2);
}
.mini_product_viewer{
    width:100%;
    height: 124px;
    padding: 12px;
    box-sizing: border-box;
    background: linear-gradient(260deg, rgba(255, 255, 255, 0.57) 31%, rgba(196, 215, 191, 0.57) 88%);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(57, 139, 32, 0.122);
}
.mini_productcard h5{
    text-align: left;
    margin-bottom: 4px;
}
button .icon1, button:hover .icon2{
    display: block;
}
button:hover .icon1, button .icon2{
    display: none;
}
.button_container1{
    width: 58px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.button2 .arrow{
    width: 18px;
    height: 18px;
}
.text_buttonFlex{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.button3{
    padding: 6px 16px;
}
.button3:hover{
    padding: 6px 20px;
}
.main_buttoncontainer{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}
.main_button{
    display: flex;
    height: 68px;
    box-sizing: border-box;
    padding: 0 10px 0 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    bottom: 100px;
    font-size: 20px;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.40);
    border-radius: 100px;
    color: var(--extremewhite);
}
.main_button:hover {
    padding: 0 10px 0 32px;
    gap: 30px;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.40);
}
.main_button:hover div img {
    transform: rotate(-35deg);
}
.main_button div{
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--extremewhite, #FAF7F2);
    border-radius: 100px;
}
.main_button img{
    width: 28px;
    height: auto;
    transition: all 200ms ease-in-out;
}
.scroll_animate2{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 30%;
}
.scroll_animate{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 15%;
}
.hero_stats{
    display: flex;
    width: 251px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    height: 157px;
    position: absolute;
    right: 32px;
    min-height: 350px;
    z-index: 1;
}
.hero_stats div{
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    backdrop-filter: blur(45px);
}
.hero_stats div h2{
    font-size: 83px;
    font-weight: 470;
    text-wrap: nowrap;
}
.hero_stats div h2 span{
    font-size: 48px;
}
.sticky{
    position: sticky;
    top: 0;
    min-height: 100vh;
}
.p1_section2{
    background-image: url(public/images/p1sec2bg.jpg);
    background-position: center;
    position: sticky;
    padding: 40px 0 0 0;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
}
.p1_section3{
    position: sticky;
    z-index: 4;
}
.p1_section2Flex{
    display: flex;
    min-height: 300px; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    z-index: 9;
}
.offers_card{
    display: flex;
    width: 100%;
    padding: 33px 22px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    box-shadow: -3px 8px 14.6px 0 rgba(235, 240, 235, 0.20);
    backdrop-filter: blur(3px);
    border: 0.5px solid #ffffff00;
    border-radius: 12px;
    height: auto;
    transition: all 200ms ease-in-out;
}
.offers_card .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.offers_card .title img{
    width: 48px;
    height: auto;
    overflow: visible;
    object-fit: none;
}
.offwhite_bg{
    background: var(--offwhite);
}
.separator_top{
    z-index: 2;
    top: -30px;
}
.separator_bottom{
    z-index: 2;
    bottom: -30px;
}
.blurred_separator2{
    height: 60px;
    filter: blur(12px);
}
.p1_hero{
    position: sticky;
    min-height: 100vh;
}
.mintgreen_bg{
    background: var(--blur1color)
}
.learn_more{
    display: flex;
    background:none;
    gap: 10px;
    margin-top: 10px;
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    height: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
    white-space: nowrap;
    width: 100%;
}
.learn_more:hover{
    gap: 4px;
}
.learn_more img{
    width: 20px;
    height: 20px;
}
.offers_card:hover .learn_more{
    height: 30px;
    opacity: 1;
}
.offers_card:hover{
    border: 0.5px solid var(--extremewhite);
    background: linear-gradient(198deg, rgba(255, 255, 255, 0.57) 31.36%, rgba(196, 215, 191, 0.57) 87.48%);
    box-shadow: -3px 8px 20px 0 rgba(235, 240, 235, 0.50);
}
.heading_text_block{
    gap: 0;
    margin-bottom: 32px;
}
.text_alignleft{
    text-align: left;
}
.text_aligncenter{
    text-align: center;
}
.trustees_logosWrap{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    min-width: 276px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 22px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.trustees_logo_container{
    display: flex;
    width: 100%;
    height: 180px;
    max-width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--extremewhite);
    border-radius: 22px;
}
.trsustees_logo_container img{
    width: 105px;
}
.leaf_container{
    position: absolute;
    top: -30px;
    right: -150px;
    transform: rotate(42deg);
    transition: all 200ms ease-in;
    animation: rotate-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    z-index: 2;
}
.p1_leaf1{
    width: 716px;
    height: 716px;
}
/* @keyframes rotate-in {
    from{
        top: -50px;
        right: 100px;
        transform: rotate(42deg);
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: rotate(0);
        top: 0px;
        right: 0px;
    }
} */
.leaf1Parent{
    position: sticky;
    z-index: 4;
    min-height: 100vh;
    justify-content: flex-start;
    margin-bottom: 100px;
}
.leaf1Parent:hover .leaf_container{
    right: -100px;
    top: -10px;
    overflow: visible;
}
.leaf1Parent .flex_column{
    width: 60%;
    align-self: flex-start;
}
.leaf1Parent .flex_column .main_buttoncontainer{
    height: fit-content;
}
.button_container2{
    align-self: flex-end;
    width: fit-content;
    margin: 22px 0;
}
.p1_section5{
    z-index: 5;
}
.heading_padding{
    padding: 0 32px;
    box-sizing: border-box;
}
.mini_title{
    margin-top: 20px;
}
.filters_flex1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 40px;
}
.filter_tag1{
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 138px;
    box-sizing: border-box;
    color: var(--mainaccent, #134205);
    background: var(--extremewhite, #FAF7F2);
    border-radius: 43px;
    font-size: 20px;
    font-weight: 500;
    transition: all 200ms ease-in-out;

}
.filter_tag1 img{
    height: 36px;
    width: auto;
    transition: all 200ms ease-in-out;
}
.filter_tag1:hover {
    background: var(--mainaccent);
    color: var(--extremewhite);
}
.filter_tag1:hover img{
    transform: rotate(180deg);
}
.products_flex{
    display: flex;
    gap: 40px;
}
.space1{
    width: 100%;
    height: 60px;
}
.product_card{
    position: relative;
    display: flex;
    min-width: 348px;
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    border-radius: 36px;
    transition: all 200ms ease-in-out;
}
.button5{
    padding: 8px 26px;
}
.button5 img{
    width: 28px;
    height: auto;
}
.button5:hover{
    padding: 8px 30px;
}
.product_card .mini_product_viewer{
    padding: 0;
    width: 100%;
    height: 148px;
    position: relative;
}
.rating_flex{
    display: flex;
    align-items: center;
    margin: 6x 0 0 0;
}
.rating_flex img{
    height: 28px;
    width: auto;
}
.rating_flex h6{
    color: var(--grey, #999);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
}
.button_container3{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4px;
}
.tag3d{
    position: absolute;
    right: 44px;
    height: 32px;
    width: 32px;
    background-image: url(public/images/3dbadge.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 44px;
    z-index: 3;
}
.product_card:hover{
    box-shadow: 0 4px 20px 0 rgba(6, 46, 15, 0.194);
}